mixin header
	header.header 
		.section__in
			nav.header__nav
				.header__menu
					ul.header__tags_list
						li.header__tags_item TAGS: 
							each value in links
								li.header__tags_item 
									a(href=value.link)= value.name
					ul.header__contacts_list
						li.header__contacts_item 
							a(href='#') team        
						li.header__contacts_item 
							a(href='#') contact
				.menu_trigger.menuTrigger
					span.menu_trigger_decor