block vars
	- 
		array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
		links = [
			{link: '#', name: 'bitcoin'},
			{link: '#', name: 'bittorrent'},
			{link: '#', name: 'irc'},
			{link: '#', name: 'news'},
			{link: '#', name: 'privacy'},
			{link: '#', name: 'programmong'},
			{link: '#', name: 'security'},
		]
		
		posts = [
			{img: 'img1.jpg', 
			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
			author: 'Derek Zimmer',
			date: ' |  JUL 25, 2018',
			tags: [{link: '#', tag: 'Governments'}, {link: '#', tag: 'Networking'}, {link: '#', tag: 'Open Source'}, {link: '#', tag: 'Privacy'}, {link: '#', tag: 'Security'}, ], 
			quantity: '0'},
			{img: 'img2.jpg', 
			title: 'How to get cheaper flights using a VPN', 
			author: 'Jayson',
			date: ' |  JUL 24, 2018',
			tags: [{link: '#', tag: 'Guides'},], 
			quantity: '0'},
			{img: 'img3.jpg', 
			title: 'Net Neutrality was repealed, but the fight is far from over', 
			author: 'Chris Miller',
			date: ' |  JUL 22, 2018',
			tags: [{link: '#', tag: 'Governments'}, {link: '#', tag: 'Net Neutrality'}, {link: '#', tag: 'News'},], 
			quantity: '0'},
			{img: 'img1.jpg', 
			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
			author: 'Derek Zimmer',
			date: ' |  JUL 25, 2018',
			tags: [{link: '#', tag: 'Governments'}, {link: '#', tag: 'Networking'}, {link: '#', tag: 'Open Source'}, {link: '#', tag: 'Privacy'}, {link: '#', tag: 'Security'}, ], 
			quantity: '0'},
			{img: 'img2.jpg', 
			title: 'How to get cheaper flights using a VPN', 
			author: 'Jayson',
			date: ' |  JUL 24, 2018',
			tags: [{link: '#', tag: 'Guides'},], 
			quantity: '0'},
			{img: 'img3.jpg', 
			title: 'Net Neutrality was repealed, but the fight is far from over', 
			author: 'Chris Miller',
			date: ' |  JUL 22, 2018',
			tags: [{link: '#', tag: 'Governments'}, {link: '#', tag: 'Net Neutrality'}, {link: '#', tag: 'News'},], 
			quantity: '0'},
		]

		announcements = [
			'Upcoming Changes (Live Chat, Less Censorship, More Access)',
			'New Servers (US Washington DC)',
			'New Servers (US Denver)',
			'Open Source: Releasing the PIA iOS Client',
			'Opera Extension is now available',
		]

		popularPosts = [
			'The Gift of Privacy',
			'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture',
			'About the PIA Client Security and VPN Security in General',
			'A Private Net Is Just As Fundamental A Right As Freedom Of Speech',
			'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie',
		]