.aside {
  padding-left: 6rem;
}

.aside__search {
  position: relative;

  margin-bottom: 3.2rem;
}

.aside__btn {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);

	cursor: pointer;

	&:active {
		opacity: .6;
	}

  .icon_search_ico {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.aside__widget {
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;

  border-bottom: 1px solid #ebeced;

	&.aside__widget--no_border {
		border-bottom: none;
	}
}

.aside__row {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.aside__row .aside__img {
  margin-right: 2rem;

	.icon_list_ico_1, .icon_list_ico_2 {
		width: 6rem;
		height: 6rem;
	}
}

.aside__title {
  font-size: 2.4rem;
  font-weight: 300;

  &--margin_bottom {
    margin-bottom: 1.8rem;
  }
}

.aside__list_item {
  position: relative;

  padding-left: 1rem;

  line-height: 2.2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:before {
    content: url(../images/icons/dot.svg);

    position: absolute;
    left: 0rem;
    top: .4rem;
  }
}

.aside__banner {
	max-width: 38.6rem;
  margin-bottom: 6rem;

  overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.aside__tag_img {
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.aside__tags_list {
	max-width: 38.6rem;
	text-align: justify;
}
.aside__tags_list_item {
	display: inline;
	line-height: 1.4;

	&.aside__tags_list_item--font_s {
		opacity: 0.5;
	}
	&.aside__tags_list_item--font_m {
		font-size: 1.6rem;

		opacity: 0.7;
	}
	&.aside__tags_list_item--font_l {
		font-size: 1.8rem;

		opacity: 0.9;
	}
	&.aside__tags_list_item--font_xl {
		font-size: 2.2rem;
	}
	&.aside__tags_list_item--font_xxl {
		font-size: 2.6rem;
		font-weight: 700;
	}
}