.card {
  display: flex;
}

.card__photo {
	margin: 0 4rem 0 0;
}

.card__image {
	position: relative;

	padding-top: 64%;

	width: 28rem;
	overflow: hidden;

	img {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;

		object-fit: cover;
	}
}

.card__title {
	margin-bottom: 2rem;
	font-size: 2.4rem;
	line-height: 3.4rem;
	font-weight: 300;
	color: #22252E;
}

.card__info_row {
	margin-bottom: 1.2rem;
}

.card__date {
	position: relative;

	padding-left: 1rem;
	color: #889099;

	&:before {
		content: '|';

		position: absolute;
		left: .4rem;
	}
}

.card__tags {
	margin-bottom: 2rem;
}

.card__tags a {
	margin-right: .6rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #4CB649;
	&:not(:last-child):after {
		content: ',';
	}
}

.card__bottom {
	display: flex;
	align-items: center;
	color: #889099;
}

.card__commet_quantity {
	margin-right: .6rem;
}

.icon_comment_ico {
	width: 1.2rem;
	height: 1.2rem;
}