.posts {
  padding-right: 6rem;
  border-right: 1px solid #ebeced;
}

.posts__list_item {
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  border-bottom: 1px solid #ebeced;
}

.posts__title {
  margin-bottom: 4rem;

  font-size: 3.2rem;
  font-weight: 300;
  color: #22252e;
}

.posts__btn {
	@extend %green_btn_1;
	@extend %green_btn_size_1;

  display: block;
  margin: 0 auto;

  text-transform: uppercase;

  cursor: pointer;
}