//------------------------------------------------------------layout
.header {
  // position: fixed;
  // top: 0;
  // left: 0;

  // height: var(--height-header);
  // width: 100%;
	margin: 0 0 5rem 0;
	padding: 4rem 0 0 0;

  font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;

  // will-change: transform;

  // @include z-index(header);
}

.header__nav {
	display: flex;
	align-items: center;
	min-height: 6rem;
  padding: 0 2.6rem;
  background: #f7f7f7;
}

.header__menu {
	flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
}

.header__left_list {
  display: flex;
}

.header__left_item {
  padding: 0px 3.6rem 0px 0px;
}

.header__left_item a {
	color: #4CB649;
}

.header__right_list {
	display: flex;
	margin: 0 0 0 auto;
}

.header__right_item {
	padding: 0 0 0 3.6rem;
}

.header__burger {
	display: none;
}

//------------------------------------------------------------layout###
