//------------------------------------------------------------layout
.header {
  // position: fixed;
  // top: 0;
  // left: 0;

  // height: var(--height-header);
  // width: 100%;
	margin: 0 0 5rem 0;
	padding: 4rem 0 0 0;

  font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;

  // will-change: transform;

  // @include z-index(header);
}

.header__nav {
	position: relative;

	display: flex;
	align-items: center;
	min-height: 6rem;
  padding: 2.6rem;
  background: #f7f7f7;
}

.header__menu {
	flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tags_list {
  display: flex;
	flex-wrap: wrap;
	margin: 0 -3.6rem -2rem 0;
}

.header__tags_item {
  padding: 0px 3.6rem 2rem 0px;
}

.header__tags_item a {
	color: #4CB649;
}

.header__contacts_list {
	display: flex;
	margin: 0 0 0 auto;
}

.header__contacts_item:not(:first-child) {
	margin: 0 0 0 3.6rem;
}

.header__burger {
	display: none;
}

//------------------------------------------------------------layout###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: .4rem;
	margin-top: -.2rem;
	background: black;
}

.menu_trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	right: var(--gl-indent);
	display: none; // hidden on wide screens
	height: 2.6rem;
	width: 3.8rem;
	margin-top: -1.6rem;
	text-transform: uppercase;

	color: transparent;
	cursor: pointer;

	@include bp($point_1) {
		display: block; // appear on tablets
	}

	&:before {
		content: '';
		transform: translate(0, -1rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}
	&:after {
		content: '';
		transform: translate(0, 1rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}
	&.active_mod {
		&:before {
			transform: (rotate(45deg) translate(0, 0));
		}

		&:after {
			transform: (rotate(-45deg) translate(0, 0));
		}
	}
}

.menu_trigger_decor {
	transition: all .3s ease;

	.active_mod & {
		opacity: 0;
		transform: translate(100%, 0);
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###