.section__in {
	padding: 0 1.6rem;
  max-width: 123.2rem;
  width: 100%;
  margin: 0 auto;

  &.section__in--display_flex {
    display: flex;
  }
}

.posts {
  padding-right: 6rem;
  border-right: 1px solid #ebeced;
}

.posts__list_item {
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  border-bottom: 1px solid #ebeced;
}

.posts__title {
  margin-bottom: 4rem;

  font-size: 3.2rem;
  font-weight: 300;
  color: #22252e;
}

.posts__btn {
	@extend %green_btn_1;
	@extend %green_btn_size_1;

  display: block;
  margin: 0 auto;

  text-transform: uppercase;

  cursor: pointer;
}

.aside {
  padding-left: 6rem;
}

.aside__search {
  position: relative;

  margin-bottom: 3.2rem;
}

.aside__btn {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);

	cursor: pointer;

	&:active {
		opacity: .6;
	}

  .icon_search_ico {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.aside__widget {
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;

  border-bottom: 1px solid #ebeced;

	&.aside__widget--no_border {
		border-bottom: none;
	}
}

.aside__row {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.aside__row .aside__img {
  margin-right: 2rem;

	.icon_list_ico_1, .icon_list_ico_2 {
		width: 6rem;
		height: 6rem;
	}
}

.aside__title {
  font-size: 2.4rem;
  font-weight: 300;

  &--margin_bottom {
    margin-bottom: 1.8rem;
  }
}

.aside__list_item {
  position: relative;

  padding-left: 1rem;

  line-height: 2.2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:before {
    content: url(../images/icons/dot.svg);

    position: absolute;
    left: 0rem;
    top: .4rem;
  }
}

.aside__banner {
  margin-bottom: 6rem;

  overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.aside__tag_img {
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

