//1
@media (max-width: $point_1) {
	.section__in {
		max-width: 960px;
	}
	.posts {
		padding-right: 3rem;
	}
	.aside {
		padding-left: 3rem;
	}
}
//2
@media (max-width: $point_2) {
	.section__in {
		max-width: 720px;

		&.section__in--display_flex {
			flex-direction: column;
		}
	}
	.main {
		margin-bottom: 3rem;
	}
	.posts {
		padding: 0;
		border-right: none;
	}
	.aside {
		padding: 0;
	}
}
//3 
@media (max-width: $point_4) {
	.section__in {
		max-width: 540px;
	}
	.card {
		flex-direction: column;
	}
	.card__left {
		margin: 0 0 4rem 0;
	}
	.card__image {
		width: 100%;
	}
	.card__image img {
		width: 100%;
	}
}
//4 
@media (max-width: $point_6) {
	.section__in {
		max-width: 100%;
		padding: 0 15px;
	}
	.card__left {
		margin: 0 0 2rem 0;
	}
	.card__title {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
}